.current-task {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button {
  float: right;
}

.success {
  background-color: #4dc404;
  color: white;
}

.current-task__btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.question {
  margin: 1rem 0 !important;
  text-align: center;
}

.card {
  width: 100%;
}

