<h1 mat-dialog-title>Оставьте отзыв о выполнении задачи</h1>
<div mat-dialog-content class="feedback-form">
  <mat-form-field class="example-full-width comment" appearance="fill">
    <mat-label>Комментарий</mat-label>
    <!-- <input matInput placeholder="Проблем не возникло. Сотрудникам легко далось обучение..." [value]="comment"/> -->
  </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
  <button mat-raised-button color="primary" (click)="onNoClick()">Сменить пароль</button>
</div>
